
body {
/*	align-items: center;*/
	position:absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: block;
	background-color: #6d71de;
	color:white;
	font-family: 'Comfortaa', cursive;
}

.title{
	font-weight: bolder;
	font-size: 60px;/*4em;*/
	text-align: center;
}

.subtitle{
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	margin-left: 0.5em;
	margin-top: -3.0em;
}

#tagline{
	margin-top: 2em;
	width: 20em;
	font-size: 16px;
	line-height: 1.8;
	text-align: center;
	margin-left: 0.5em;
}

#handClapGif{
	position:absolute;
	transform: translate(15%,5%);
}

#handClapGif img {
	width: 75%;
}


@media only screen and (max-device-width : 800px) {
  body {
  	background-color: black;
  }
}