
body {
	background-color: #6d71de;
	color:white;
	font-family: 'Comfortaa', cursive;
}

.titleBlock {
	width: 30%;
	min-width:310px;
	margin:0 auto;
	margin-top: 37vh;
}

#title{
	position: relative;
	font-weight: bolder;
	font-size: 60px;/*4em;*/
	text-align: center;
	padding-bottom: 1%;
}

#subtitle{
	position:relative;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	padding-bottom: 4%;
}

#tagline{
	position:relative;
	font-size: 16px;
	line-height: 1.8;
	text-align: center;
}

#handClapGif{
	position:fixed;
	bottom:0;
	left:5vw;
}

#handClapGif img {
	width:50vh;
}


/*MOBILE SETTINGS*/
@media only screen and (max-device-width : 800px) {
  .titleBlock {
  	width: 70%;
  	margin-top: 15vh;
  }

  #title{
  	font-size: 100px;
  }

  #subtitle {
  	font-size: 36px;
  }

  #tagline {
  	font-size: 32px;
  }

  #handClapGif img {
	width:40vh;
  }
}