
body {
	background-color: #6d71de;
	color:white;
	font-family: 'Comfortaa', cursive;
}

.titleBlock {
	width: 350px;
	margin:0 auto;
	margin-top: 37vh;
}

.titleBlockTry {
	width: 450px;
	margin:0 auto;
	margin-top: 20vh;
}

.explaingifs {
	width: 450px;
	margin: 0 auto;
}

.explaingifs img {
	margin-bottom: 10%;
	width: 450px;
}

#title{
	position: relative;
	font-weight: bolder;
	font-size: 60px;/*4em;*/
	text-align: center;
	padding-bottom: 1%;
}

#subtitle{
	position:relative;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	padding-bottom: 4%;
}

#subtitleTry{
	position:relative;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	padding-bottom: 0%;
	padding-top: 4%;
}

#tagline{
	position:relative;
	font-size: 16px;
	line-height: 1.8;
	text-align: center;
}

#menuGif {
	display:flex;
	justify-content: center;
	margin-top: -1em;
}

#menuGif img {
	height:7em;
	width:7em;
}

#menuGif a {
	color:white;
	text-decoration: none;
}

#menuGif a:hover {
	color:white;
	text-decoration: underline;
}

#menuTry {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding-right: 5px;
	z-index: 2;
}

#menuHack {
	position: relative;
	display:flex;
	justify-content: flex-start;
	padding-left: 5px;
	z-index: 3;
}

#TryMeLabel {
	text-align: center;
	font-size: 16px;
	padding-right: 4px;
}

#HackMeLabel {
	text-align: center;
	font-size: 16px;
	padding-right: 4px;
}


/*FREE FLOATING GIFS*/

#handClapGif{
	position:fixed;
	bottom:0;
	left:5vw;
	z-index: -1;
}

#handClapGif img {
	width:50%;
}

#wowGif{
	position:fixed;
	top:-10%;
	right:0;
	z-index: -1;
}

#wowGif img {
	width:55%;
}

#thumbGif {
	position:fixed;
	bottom:-10%;
	right:0;
	transform: scaleX(-1);
	z-index: -1;
}

#thumbGif img {
	width: 75%;
}






/*NARROW WINDOW EXCEPTIONS*/
@media all and (max-width : 900px) {
	#thumbGif img {
		display: none;
	}
}

/*MOBILE SETTINGS*/
@media only screen and (max-device-width : 800px) {
  .titleBlock {
  	width: 70%;
  	margin-top: 20vh;
  }

  .titleBlockTry {
	width: 550px;
  }

  .explaingifs {
	width: 550px;
  }

  .explaingifs img {
	width: 550px;
  }

  #title{
  	font-size: 100px;
  }

  #subtitle {
  	font-size: 36px;
  }

  #subtitleTry {
  	font-size: 36px;
  }

  #tagline {
  	font-size: 32px;
  }

  #menuGif {
  	margin-top: -3em;
  }

  #menuGif img {
	height:12em;
	width:12em;
  }

  #menuTry {
  	padding-right: 10px;
  }

  #menuHack {
  	padding-left: 10px;
  }

  #TryMeLabel {
  	font-size: 32px;
  }

  #HackMeLabel {
  	font-size: 32px;
  }

  #handClapGif img {
	width:35vh;
  }

  #thumbGif img {
	display: none;
  }

  #wowGif img {
  	width:36vh;
  }

}